/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.navbar-menu img {
  width: 25px;
  height: 25px;
  margin-left: 8px;
}
.navbar-menu {
  width: 5%;
}
.food-items {
  margin-left: 210px;
}
.search {
  width: 5%;
}
.search img {
  width: 25px;
  height: 25px;
  margin-left: 195px;
}

.cart {
  width: 35%;
  text-align: center;
  border-left: solid rgba(0, 0, 0, 0.1);

/* items-menu */
}
.content-menu {
  position: absolute;
  margin-top: 55px;
  margin-left: 75px;
  width: 60%;
  height: 100%;
  text-align: center;
  background: rgba(190, 195, 202, 0.3);
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.content-menu img {
  width: 250px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 20px;
  
}

.content-menu p{
    margin-left: 20px;
    text-align: left;
}

.content-menu h5 {
    margin-top: -20px;
    margin-left: 20px;
    text-align: left;
    
}
/* sidebar-left */
.sidebar-left {
  height: 100%;
  width: 75px;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  margin-top: 55px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.sidebar-menu {
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-menu img {
  width: 25px;
  height: 25px;
  margin-top: 25px;
  margin-left: 70px;
}
/* sidebar-right */
.cart-items{
  position: fixed;
  top: 55px;
  margin-left: 65%;
  width: 35%;
  height: 100%;
  text-align: center;
  box-shadow: -5px 4px 10px rgba(0, 0, 0, 0.25);
}

.selected-items {
  margin-top: 20px;
}
.selected-items img{
  height: 100px;
  width: 100px;
}

.billOut {
  margin-top: 20%;
}
.billOut > div {
  margin: -10px;
}
.billOut-total {
  right: 12%;
}
.billOut-price {
  left: 9%;  
}
.billOut-desc {
  right: 2%;
}
.btn{

  margin-left: 7%;
}
.btn > div {
  margin-bottom: 20px;
}
.btn button {
  color: white;
  width: 470px;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.checkout-btn button{
  background-color: #57CAD5;
}
.cancel-btn button{
  background-color: #F24F8A;
}
.btn-group button {
  border: 1px solid #82de3a;
  color: #82de3a;
  background-color: rgba(130, 222, 58, 0.2);
  padding: 5px 10px;
  font-weight: bold;
}
.qty {
  color: #82de3a;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #82de3a;
  padding: 5px 10px;
}
.modall {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}
.popup {
  position: fixed;
  top: 5%;
  left: 25%;
  width: 50%;
  height: 90%;
  background: #FFFFFF;
  box-shadow: -5px 4px 10px rgba(0, 0, 0, 0.25);
}
.popup-top {
  margin-top: 30px;
  margin-left: 30px;
}
.popup-top h5 {
  margin-left: 120px;
}
.popup-mid {
  margin-top: 50px;
}
.popup-mid > div {
  margin-top: 15px;
}
.each-food-name {
  margin-left: 30px;
}
.each-price {
  margin-left: 220px;
}
.total-price-text {
  margin-left: 100%;
}
.total-price {
  margin-left: 33%;
}
.payment-type {
  margin-left: 4%;
}
.popup-bot {
  margin: 45px;
  
}
.popup-btn button {
  margin-right: 3px;
  color: white;
  width: 700px;
  height: 78px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.popup-btn-print button{
  background-color: #57CAD5;
}
.popup-bot h5 {
  margin-left: 48%;
}
.popup-btn-email button{
  background-color: #F24F8A;
}
.my-row {
  border: 2px solid black;
}
.my-col {
  border: 2px solid black;
}